{% extends get_cover_template('base') %}

{% block body %}
    {% include get_cover_template('common/page_header') %}
    <div class="container my-10">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <figure class="mb-8">
                    {{ get_the_post_thumbnail(post, 'large', {class: 'rounded-xxl'})|raw }}
                </figure>
            </div>

            <div class="col-12 col-lg-8 col-xl-7 single-content">
                {{ the_content()|raw }}
                {% set buttons = get_cover_option('tour_nav', {}) %}
                {% if buttons %}
                    <div class="d-flex justify-content-between mt-8">
                        {% for button in buttons %}

                            {% include get_cover_template('common/call_to_action') with {
                                icon: 'fasm/6/set/arrow-' ~ (button.is_prev ? 'left' : 'right'),
                                text: button.text,
                                attrs: button.attrs,
                                icon_left: button.is_prev,
                                permalink: button.permalink,
                            } %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
